body {
    background: linear-gradient(to right, #f13d6c, #7b46cd);
        
}
.grid-container{
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: auto auto auto auto auto;
    gap:20px 20px;
    
}
   .grid-container> div{ 
       background: rgb(255, 217, 0); 
       padding: 5px;
       font-size: 20px;
       text-align: center;
       font-weight: bold;
       border: 10px;
}
.grid-main{
        display: grid;
        grid-template: auto auto / auto auto ;
        gap:10px;
        padding-top: 5px;
        padding-bottom: 5px;
}
.grid-main>div{
    font-size: 20px; 
    text-align: center;
    font-weight: bold;
}
#box{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#taco{
    grid-row: 1 span 2;
}
img{
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: 80% 70%;

}
.Heading {
        position: absolute;
        background: rgb(255, 217, 0); 
        padding: 0px;
        font-size: 15px;
        text-align: left;
        font-weight: bold;
        border: 2px;
        width: 150px;
        height: 5%;
        color: rgb(0, 0, 0);
        top: 250px;
        left: 50px;
      }
.Heading1 {
        position: absolute;
        background: rgb(187, 255, 0); 
        padding: 1px;
        font-size: 15px;
        text-align: left;
        font-weight: bold;
        border: 2px;
        width: 150px;
        height: 5%;
        color: rgb(0, 0, 0);
        top: 350px;
        left: 50px;
      }
   .cost1{
        position: absolute;
        right: 30px;
        top: 130px;
        height: 150px;
        width: 18%;
        background-color: yellow;
        padding-left: 150px;
        padding-right: 100px;
        padding-top: 5px;
        

    
    }
    .cost2{
        position: absolute;
        right: 30px;
        top: 350px;
        height: 200px;
        width: 20%;
        background-color: yellow;
        padding-left: 100px;
        padding-right: 100px;
        
    }

.grid-emojicontainer{
        display: grid; 
        grid-template: auto / auto auto auto auto ;
        gap: 12px 12px;
        padding-bottom: 30px;
     }
    .grid-emojicontainer> div{ 
        background-color: white; 
        padding: 8%;
        margin-right: 0px;
        margin-top: 4px;
        font-size: 15px;
        text-align: center;
        font-weight: bold; 
       
}

.grid-featuredtaco{
        display: grid;
        grid-template-rows:3fr 1fr;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 0px;
        background-color: white;
        padding: 30px;
        height: 500px;
        
    }
.grid-imagecontainer{
        display: grid;
        grid-template: auto auto / auto auto auto auto auto auto auto;
        gap: 10px 10px;
        overflow: scroll;
        padding-top: 20px;   
        padding-left: 0%;
}
    .grid-imagecontainer>div{
        padding: auto;
        text-align: center;
        font-weight: bold;

    }
    
    
       
       


    
   